.main-wrapper {
  background: #000;
  min-height: 100vh;
  color: #fff;
}

.container {
  max-width: 1088px;
  padding: 0 24px;
  margin: 0 auto;
}

.back-link {
  display: block;
  margin: 20px 0 40px;
}

.single-page {
  padding: 20px 0;
}
